@model IEnumerable<GummiBearKingdom.Models.Category>
@{
    ViewData["Title"] = "Products";
    ViewData["PageHead"] = "Products";
}

@foreach(var category in Model)
{
    <div class="card mb-3">
	    <h2 class="text-center">@Html.DisplayFor(model => category.Name)</h2>
        <div class="card-deck"> 
            @foreach(var product in category.Products)
            {

                <div class="card mb-3 text-center">
        		    <div class="card-header">
                        <h4>@Html.DisplayFor(model => product.Name)</h4>
        		    </div>
                    <div class="card-block">
        			    <h6>$@Html.DisplayFor(model => product.Cost).00</h6>
                        <footer>
        			        @Html.ActionLink("Details", "Details", new { id = product.ProductId })
                            | @Html.ActionLink("Edit", "Edit", new { id = product.ProductId })
                            | @Html.ActionLink("Delete", "Delete", new { id = product.ProductId })
                        </footer>
                    </div>
                </div>
            }
        </div>
	</div>
}
<h6>@Html.ActionLink("Add new Product", "Create")</h6>